# WARNING: do not track this file in git with secrets.
# It has been added to .gitignore for convenience.

# use nix # for `nix-shell`
use flake . # for `nix develop`

# paste token here for convenience
export BOT_TOKEN=""
